    .signature{
      width: 70px;
      border-radius: 5px;
      border: 1px solid gray;
    }

    .text-error {
        color: #cb4335
    }

    .error {
        color: #df6153 !important;
        font-weight: 100 !important;
    }

    .p-loading-container {
        z-index: 99999;

    }

    .dataTables_empty {
        text-align: center;
    }

    .c-switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .c-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .c-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .c-slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.c-slider {
        background-color: #2196F3;
    }

    input:focus+.c-slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.c-slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .c-slider.round {
        border-radius: 34px;
    }

    .c-slider.round:before {
        border-radius: 50%;
    }

    .pull-right{
        float: right !important;
    }

    .table-number{
        width: 80px;
    }

    .table-action{
        width: 320px;
    }

    .actions{
        white-space: nowrap;
    }

    .btn-action{
        margin: 3px 2px;
        display: inline-block;
    }
    /* .is-invalid{
        color: red !important;
    } */
    .error{
        color: red !important;
    }

    span.select2-container--disabled{
        background-color: rgb(219, 217, 217) !important;
    }
